<!DOCTYPE html>
<html lang="ru">
@@include('html/head.html', {
'title': 'Каталог'
})

<body data-page="catalog">
  @@include('html/header.html', {
  'page': '__catalog-page'
  })
  <main>
    <div class="catalog">
      <div class="catalog__body catalog__container">
        <div class="catalog__navigation navigation">
          <a class="navigation__link" href="">Главная</a>
          <a class="navigation__link" href="">Каталог</a>
        </div>
        <details class="catalog__category category__button">
          <summary class="category__title title">
            <h1>Каталог</h1>
            <svg class='category--icon icon-svg'>
              <use xlink:href='../images/icons.svg#arrow'></use>
            </svg>
          </summary>
          <ul class="category__list">
            <li> <a class='category__link' href="">New</a> </li>
            <li> <a class='category__link' href="">Bestsellers</a> </li>
            <li> <a class='category__link' href="">Верхняя одежда</a> </li>
            <li> <a class='category__link' href="">Шубы</a> </li>
            <li> <a class='category__link' href="">Тренчи</a> </li>
            <li> <a class='category__link' href="">Пальто</a> </li>
            <li> <a class='category__link' href="">Пуховики и жилеты</a> </li>
            <li> <a class='category__link' href="">Костюмы</a> </li>
            <li> <a class='category__link' href="">Жакеты</a> </li>
            <li> <a class='category__link' href="">Платья</a> </li>
            <li> <a class='category__link' href="">Рубашки и блузы</a> </li>
            <li> <a class='category__link' href="">Юбки</a> </li>
            <li> <a class='category__link' href="">Футболки и топы</a> </li>
            <li> <a class='category__link' href="">Аксессуары</a> </li>
            <li> <a class='category__link' href="">Sale</a> </li>
            <li> <a class='category__link' href="">Summer</a> </li>
            <li> <a class='category__link' href="">Посмотреть всё</a> </li>
          </ul>
        </details>
        <details class="catalog__filters">
          <summary class="filters__title">Фильтры</summary>
          <form class="filters__form" action="">
            <fieldset class="filters__group filters__group--size">
              <select class="filters__select js-filters-size" name="" id="">
                <option disabled selected hidden class="filters__option " label="Размер" value="0">Размер</option>
                <option class="filters__option" value="S">S</option>
                <option class="filters__option" value="XS">XS</option>
                <option class="filters__option" value="M">M</option>
                <option class="filters__option" value="L">L</option>
                <option class="filters__option" value="XL">XL</option>
                <option class="filters__option" value="XXL">XXL</option>
                <option class="filters__option" value="XXXL">XXXL</option>
              </select>
            </fieldset>
            <fieldset class="filters__group filters__group--color">
              <select class="filters__select" name="" id="">
                <option disabled selected hidden class="filters__option" label="Цвет" value="0">Цвет</option>
                <option class="filters__option" value="blue">Синий</option>
                <option class="filters__option" value="red">Красный</option>
                <option class="filters__option" value="white">Белый</option>
                <option class="filters__option" value="brown">Коричневый</option>
                <option class="filters__option" value="yellow">Желтый</option>
              </select>
            </fieldset>
            <fieldset class="filters__group filters__group--price">
              <select class="filters__select" name="" id="">
                <option disabled selected hidden class="filters__option" label="Цена" value="0">Цена</option>
                <option class="filters__option" value="">от 500</option>
                <option class="filters__option" value="">от 1000</option>
                <option class="filters__option" value="">от 1500</option>
                <option class="filters__option" value="">от 2000</option>
                <option class="filters__option" value="">от 2500</option>
                <option class="filters__option" value="">от 3000</option>
                <option class="filters__option" value="">от 3500</option>
              </select>
            </fieldset>
            <fieldset class="filters__group filters__group--sort">
              <select class="filters__select" name="" id="">
                <option disabled selected hidden class="filters__option" label="Сортировать по" value="0">Сортировать по
                </option>
                <option class="filters__option" value="price">Цене</option>
                <option class="filters__option" value="size">Размеру</option>
                <option class="filters__option" value="actually">Популярности</option>
              </select>
            </fieldset>
          </form>
        </details>
        <div class="catalog__products catalog-products__content">
          <div id="goods" class="catalog-products__list list-unstyled">
            <!-- <img src="@img/loading.gif" alt="" /> -->
            <!--
            <div class="catalog-products__item item">
              <a href="product-page.html" class="item__image">
                <img src='@img/2.category/category_6.jpg' srcset='' alt=''>
              </a>
              <button class="item__to-favorits btn--brown">
                <svg class='item__icon icon-svg'>
                  <use xlink:href='../images/icons.svg#favorits'></use>
                </svg>
              </button>
              <div class="item__name">Белая куртка</div>
              <div class="item__price">2900 грн</div>
              <div class="item__size">XXS XS S M L</div>
              <div class="item__colors">
                <div class="item__color item__color--white"></div>
                <div class="item__color item__color--blue"></div>
                <div class="item__color item__color--yellow"></div>
              </div>
            </div>
            <div class="catalog-products__item item">
              <a href="" class="item__image">
                <img src='@img/2.category/category_1.jpg' srcset='' alt=''>
              </a>
              <button class="item__to-favorits btn--brown">
                <svg class='item__icon icon-svg'>
                  <use xlink:href='../images/icons.svg#favorits'></use>
                </svg>
              </button>
              <div class="item__name">Белая куртка</div>
              <div class="item__price">2900 грн</div>
              <div class="item__size">XXS XS S M L</div>
              <div class="item__colors">
                <div class="item__color item__color--white"></div>
                <div class="item__color item__color--blue"></div>
                <div class="item__color item__color--yellow"></div>
              </div>
            </div>
            <div class="catalog-products__item item">
              <a href="" class="item__image">
                <img src='@img/2.category/category_2.jpg' srcset='' alt=''>
              </a>
              <button class="item__to-favorits btn--brown">
                <svg class='item__icon icon-svg'>
                  <use xlink:href='../images/icons.svg#favorits'></use>
                </svg>
              </button>
              <div class="item__name">Белая куртка</div>
              <div class="item__price">2900 грн</div>
              <div class="item__size">XXS XS S M L</div>
              <div class="item__colors">
                <div class="item__color item__color--white"></div>
                <div class="item__color item__color--blue"></div>
                <div class="item__color item__color--yellow"></div>
              </div>
            </div> -->

          </div>
        </div>
      </div>
    </div>
  </main>
  @@include('html/footer.html', {})

  <script id="catalog-template" type="text/template">
    <% _.each(goods, function(good) { %>
      <% sizes = good.sizes %>
      <% sizes = sizes.toString().replace(/,/g , " ") %>
                <div class="catalog-products__item item">
                  <a href="product-page.html" class="item__image js-item__data"
                  data-id="<%= good.id %>"
                  data-name="<%- good.name %>"
                  data-img="<%- good.img %>"
                  data-imgmini="<%= good.imgmini %>"
                  data-price="<%= good.price %>"
                  data-sizes="<%= sizes %>"
                  data-color-white="<%= good.colors.white %>"
                  data-color-blue="<%= good.colors.blue %>"
                  data-color-yellow="<%= good.colors.yellow %>"
                  data-teg="<%= good.new %>"
                  >
                    <img src='<%-good.img %>' srcset='' alt=''>
                  </a>
                  <button class="item__to-favorits btn--brown">
                    <svg class='item__icon icon-svg'>
                      <use xlink:href='../images/icons.svg#favorits'></use>
                    </svg>
                  </button>
                  <div class="item__name"><%- good.name %>
                    <% if (good.new) { %>
                   <div class="item__new"> new</div>
                    <% } %>
                  </div>
                  <div class="item__price"><%= good.price %> руб.</div>
                  <div class="item__size"><%= sizes %></div>
                  <div class="item__colors">
                    <% if (good.colors.white) { %>
                    <div class="item__color item__color--white"></div>
                    <% } %>
                    <% if (good.colors.blue) { %>
                      <div class="item__color item__color--blue"></div>
                    <% } %>
                    <% if (good.colors.yellow) { %>
                    <div class="item__color item__color--yellow"></div>
                    <% } %>
                  </div>
                </div>
            </div>
        </li>
    <% }); %>
</script>
  @@include('html/script.html', {
  })
</body>

</html>
