.exchange,
.delivery {
  margin-top: rem(80);
  margin-bottom: rem(60);
  &__navigation {
    margin-bottom: rem(15);
    @media (min-width: $pc) {
      margin-bottom: rem(30);
    }
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    @media (min-width: $pc) {
      display: block;
    }
  }
  &__title {
    font-size: 18px;
    margin-bottom: rem(15);
    @media (min-width: $pc) {
      font-size: 20px;
    }
  }
  &__row {
    max-width: 600px;
    margin: 0 auto;
    @media (min-width: $pc) {
      display: flex;
      gap: 30px;
      max-width: none;
    }
  }
}

.delivery {
  &_LIQPAY {
    margin-bottom: rem(15);
    @media (min-width: $pc) {
      margin-bottom: rem(25);
    }
  }
  &__body {
  }
  &__content {
  }
  &__container {
  }
  &__text {
    margin-bottom: rem(10);
  }
  &__column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 20px;
    column-gap: 40px;
  }
  &__text-block {
    margin-bottom: rem(15);
    li {
      margin-left: 20px;
      list-style: disc;
    }
    @media (min-width: $pc) {
      margin: 0;
    }
  }
  &__row {
    @media (min-width:$pc){
       display: grid;
       grid-template-columns: 24% 24% 50%;
       grid-template-rows: auto;
    }
  }
}
.navigation {
  &__link {
  }
}
.LIQPAY {
  &__row {
    display: grid;
    grid-template-columns:min-content;
    grid-template-rows: 1fr;
    align-items: center;
    column-gap: 25px;
    @media (min-width:$pc){
      column-gap: 15px;
    }
    
    :not(:last-child) {
      margin-bottom: rem(15);
    }
    p {
      grid-column: 2/3;
      column-gap: 25px;
    }
    .icon-svg {
      width: rem(40);
      height: rem(40);
      @media (min-width: $pc) {
        width: rem(45);
        height: rem(50);
      }
      padding: 0;
      display: inline-block;
    }

  }
}
.LIQPAY-icon {
}

.exchange {
  &__subtitle {
    margin-bottom: rem(15);
  }
  &__text {
    text-align: center;
    font-size: 14px;
    font-weight: 300;
  }
  //&__row {
  //  max-width: 600px;
  //  margin: 0 auto;
  //  @media (min-width:$pc){
  //     display: flex;
  //     gap: 30px;
  //     max-width: none;;
  //  }
  //}
  &__text-block {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: rem(15);
    }
    @media (min-width: $pc) {
      flex: 0 0 165px;
    }
  }
  .icon-svg {
  }
}
