// <Оcновная сетка>====================================================================================================
.main-screen {
  width: 100%;
  margin-bottom: rem(30);
  height: 100vh;
  position: relative;

  max-height: -webkit-fill-available;
  @media (min-width: $pc) {
    margin-bottom: rem(60);
  }
  &__swiper {
    &::before {
      content: "";
      background-image: linear-gradient(
        to bottom,
        #3d3d3d80 0%,
        transparent 100%
      );
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
  &__images {
    z-index: -1;
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__image {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__content {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    z-index: 9;
    top: 0;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
  }
  &__body {
    display: block;
    color: white;
    text-align: center;
    opacity: 0;
    transition: all 0.4s ease 0s;
    &.animated-show-active {
      opacity: 1;
    }
    @media (min-width: $mobile) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  &__title {
    display: block;
    font-size: 32px;
    line-height: 37.57px;
    @media (min-width: $mobile) {
      font-size: 46px;
      line-height: 54px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 120px;
      height: rem(2);
      background-color: rgba($color: #ffffff, $alpha: 0.5);
      bottom: -50%;
      right: 50%;
      transform: translate(50%, 0);
    }
    position: relative;
    margin-bottom: rem(41);
  }
  &__subtitle {
    display: block;
    text-transform: uppercase;
    position: relative;

    &::before {
      content: "";
      background: right url(../images/arrowWhite.svg) no-repeat;
      position: absolute;
      width: 18px;
      fill: #961914;
      display: inline-block;
      transform: rotate(-90deg);
      height: 18px;
      top: 6px;
      right: 25px;
    }
    @media (min-width: $mobile) {
      &::before {
        right: 80px;
      }
    }
  }
  .main-img {
    display: inline-block;
    flex: 1 0 100%;
    img {
      width: 100%;
      height: 100%;
    }
    @media (min-width: $mobile) {
      flex: 1 0 50%;
    }
    @media (min-width: $tablet) {
      flex: 1 0 33.33%;
    }
    &__2 {
      @media (max-width: $mobile) {
        display: none;
      }
    }
    &__3 {
      @media (max-width: $tablet) {
        display: none;
      }
    }
  }
}

.category {
  &__body {
    margin-bottom: rem(20);
    @media (min-width: $pc) {
      margin-bottom: rem(100);
    }
  }
  &__item {
    display: block;
  }
  .swiper {
    height: 100%;
    width: 100%;
  }
  .swiper-button-prev {
    width: rem(40);
    height: rem(40);
    background-color: $color-main;
    color: white;
    &::after {
      font-size: rem(30);
      font-weight: 600;
    }
  }
  .swiper-button-next {
    @extend .swiper-button-prev;
  }
  .swiper-button-disabled {
    display: none;
  }
  .item {
    position: relative;
    max-height: 450px;
    &__image {
      min-height: 450px;
      display: block;
      &:hover img {
        transform: scale(1.2);
        width: 50%;
        transition: all 0.3s ease 0s;
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
      }
    }
    &__category-name {
      text-align: center;
      color: white;
      line-height: 35px;
      position: absolute;
      width: 100%;
      height: 35px;
      bottom: 0;
      left: 0;
      background-color: rgba($color: $color-main, $alpha: 0.7);
      font-size: 18px;
      font-weight: 300;
      backdrop-filter: blur(3px);
    }
  }
}
.email-subscribe {
  &__body {
    max-width: rem(600);
    @media (min-width: $tablet) {
      margin-bottom: rem(40);
      margin-top: 50px;
    }
  }
  &__title {
    text-align: center;
    margin-bottom: rem(30);
    @media (min-width: $tablet) {
      margin-bottom: rem(50);
    }
  }
  &__form-group {
    margin-bottom: rem(15);
    @media (min-width: $tablet) {
      margin-bottom: rem(20);
    }
  }
  &__accept-policy {
    font-weight: 200;
    line-height: 19px;
    text-align: center;
  }
  &__button {
    margin-bottom: rem(15);
    @media (min-width: $tablet) {
      margin-bottom: rem(20);
    }
  }
}
//========================================================================================================================================================
