// <Шрифт по умолчанию>=========================================================================================
$fontfamily: Raleway, sans-serif;
// <Шрифт по умолчанию>=========================================================================================

// <ПЕРЕМЕННЫЕ>=======================================================================================
$pc: 1023.98px;
$tablet: 767.98px;
$mobile: 424.98px;
$mobileSmall: 374.98px;
$minWidth: 320px;

$fontsize: 16;
//ЦВЕТА============================================================================================
$color-main: #e0bea2;
$color-text-grey: #252525;
$color-background-pink: #ead1d0;
$color-background-lightpink: #fff4f3;
$color-lightred: #ec7973;
$color-main-red: #961914;
// <ПЕРЕМЕННЫЕ>=======================================================================================

//общее
@import "nullstyle.scss";
@import "fonts.scss";
@import "adaptive.scss";
@import "base.scss";
@import "common.scss";

//библиотеки
@import "../files/libs/swiper/swiper-bundle.min.css";

//страницы
@import "header.scss";

@import "catalog.scss";
@import "exchange__delivery.scss";
@import "popup.scss";
@import "product.scss";
@import "cart.scss";
@import "favorits.scss";
@import "contacts.scss";
@import "profile.scss";

@import "footer.scss";

// <ОБОЛОЧКА>======================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}
body[class="__lock"] {
  overflow: hidden;
}

main {
  flex: 1 0 100%;
  > div {
    margin: 70px auto 0 auto;
    @media (min-width: $pc) {
      margin: 100px auto 0 auto;
    }
  }
}
[class*="container"] {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}
.page {
  display: flex;
  flex-flow: column nowrap;
}
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
body {
  font-size: 1em;
  line-height: 140%;
  font-style: normal;
  font-weight: 300;
  color: black;
  background-color: #ffffff;
}

@import "home.scss";
